body{
    background-color: #111;
    position: relative;
    left: 45%;
    top: 15px;
    overflow: hidden;
}
#top{
    height: 50px;
    background: #ff9c51;
    box-shadow: 0 0 5px #ff9c51;
    -webkit-animation: top_anim 4.5s infinite ;
    animation: top_anim 4.5s infinite ;
}
@-webkit-keyframes top_anim
{
    0% {width: 0px;}
    30% {width: 250px;}
    70% {width:250px;}
    100% {width: 0px;}
}
@keyframes top_anim{
    0% {width: 0px;}
    30% {width: 250px;}
    70% {width:250px;}
    100% {width: 0px;}
}
#middle{
    height: 50px;
    background-color: white;
    box-shadow: 0 0 5px white;
    -webkit-animation: middle_anim 4.5s infinite ;
    animation: middle_anim 4.5s infinite ;
    -webkit-animation-delay: .2s;
    animation-delay: .2s;
}
@-webkit-keyframes middle_anim
{
    0% {width: 0px;}
    30% {width: 250px;}
    70% {width:250px;}
    100% {width: 0px;}
}
@keyframes middle_anim{
    0% {width: 0px;}
    30% {width: 250px;}
    70% {width:250px;}
    100% {width: 0px;}
}
#middle img{
    display: block;
    width: 50px;
    height: 50px;
    margin: auto;
    -webkit-animation: img_anim 4.5s infinite linear ;
    animation: img_anim 4.5s infinite ;
    -webkit-animation-delay: .2s;
    animation-delay: .2s;
}
